#Global
registry=http://registry.npmjs.org/
always-auth=true

#Beans
@beans:registry=https://nexus.ourtesco.com/repository/online-web-group/
//nexus.ourtesco.com/repository/online-web-group/:username=INE12361116
//nexus.ourtesco.com/repository/online-web-group/:_password=bHBscGxwNDY0OEAyMzA5